<section class="home">

    <div class="energy">
        <div class="energy-text">Energy</div>
        <div class="energy-slot"></div>

    </div>
    <div class="level-stages">

        <img src="/images/level-stages.png" alt="logo_BG" usemap="#workmap">
        <map name="workmap">
            <area shape="rect" coords="14,206,80,249" alt="s1" href="#">
            <area shape="rect" coords="106,131,175,186" alt="s1.1" href="#">
            <area shape="rect" coords="249,188,316,251" alt="s1" href="#">
            <area shape="rect" coords="384,139,450,192" alt="s1.1" href="#">
            <area shape="rect" coords="469,47,547,103" alt="s1" href="#">
            <area shape="rect" coords="581,137,651,194" alt="s1.1" href="#">
            <area shape="rect" coords="701,211,777,265" alt="s1" href="#">
            <area shape="rect" coords="797,120,875,175" alt="s1.1" href="#">

        </map>

    </div>

</section>