<section class="my-login-page">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <img src="/images/logo_new.png" alt="logo_BG">
          </div>
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <form method="post" class="my-login-validation" novalidate="" action="/login">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="email" class="form-control" name="email" value="" required autofocus>

                  {{#if error}}
                  <div class="invalid">
                    Email is invalid
                  </div>
                  {{/if}}
                </div>

                <div class="form-group">
                  <label for="password">Password
                  </label>
                  <input id="password" type="password" class="form-control" name="password" required data-eye>

                  {{#if error}}
                  <div class="invalid">
                    Password is required
                  </div>
                  {{/if}}
                </div>

                <input class="btn btn-success btn-block" type="submit" value="Login">
              </form>

              <div class="mt-4 text-center">
                Don't have an account? <a href="/signup">Create One</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{!-- <section id="loginform">
  <h1>Login</h1>
  <div class="loginform-login">
    <form class="form" method="post" action="/login">
      <label>
        Email
        <input placeholder="email" name="email" />
      </label>
      <label class="mt20">
        Password
        <input placeholder="password" type="password" name="password" />
      </label>
      <input class="darkButton" type="submit" value="submit">
    </form>
  </div>
  {{#if error}}
  <div class="login_fail">
    <a style="color:red;"> invalid username or password </a>
  </div>
  {{/if}}

</section> --}}