<section id="loginform">
  <h1>Sign In</h1>
  <div class="loginform-login">
    <form class="form" method="post" action="/customer/login">
      <label id = "login_email">
        Email
        <input id = "login_email_input" placeholder="email" name="username" />
      </label>
      <label id = "login_password" class="mt20">
        Password
        <input id = "login_password_input" placeholder="password" type="password" name="password" />
      </label>
      <input class="btn btn-success active" type="submit" value="Sign In">
    </form>
  </div>
  {{#if error}}
  <div class="login_fail">
    <a style="color:red;"> invalid username or password </a>
  </div>
  {{/if}}

</section>