<div id="menuPage" class="container">
    <h1 style="text-align: center;">Our Menu</h1>
    <h4 style="text-align: center;">Our Vendors do their best to store all the items in our menu.
        To order something from a Van visit the <a href="/vendors">Find a Van</a> Page.
    </h4>
    <div class="row row-cols-3">
        {{#each menu}}
        <div class="row">
            <h2 class="foodname" style="width: auto; float: left;">
                <a href="/menu/{{this.id}}">
                    &nbsp;{{this.name}}
                </a>
            </h2>
            <h2 style="width: auto; margin-left: auto; float: right;">${{#priceDisplay this.price }}{{/priceDisplay}}</h2>
            <p style="clear: both;color:rgb(63, 63, 63)">&nbsp;{{this.description}}</p>
            <img src="{{this.photo}}" width="280" height="280">
        </div>
        {{/each}}
    </div>
</div>