<section class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/images/logo_new.png" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register</h4>
							<form method="post" class="my-login-validation" action="/signup">
								<div class="form-group">
									<label for="name">Name</label>
									<input id="name" type="text" class="form-control" name="name" required autofocus>
									{{#if error}}
									<div class="invalid">
										What's your name?
									</div>
									{{/if}}
								</div>

								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" required>
									{{#if error}}
									<div class="invalid">
										Your email is invalid
									</div>
									{{/if}}
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" required
										data-eye>
									{{#if error}}
									<div class="invalid">
										Password is required
									</div>
									{{/if}}
								</div>

								<div class="form-group">
									<label for="confirm_password">Confirm Password</label>
									<input id="confirm_password" type="password" class="form-control"
										name="confirm_password" required>
									{{#if error}}
									<div class="invalid">
										Please reenter the same password!
									</div>
									{{/if}}
								</div>

								<div class="form-group">
									<label for="age">Age</label>
									<input id="age" type="number" class="form-control" name="age" min="0" max="100"
										required>
									{{#if error}}
									<div class="invalid">
										Your Age is invalid
									</div>
									{{/if}}
								</div>

								<div class="form-group">
									<label for="occupation">Occupation</label>
									<input id="occupation" type="occupation" class="form-control" name="occupation"
										required>
									{{#if error}}
									<div class="invalid">
										Your Occupation is invalid
									</div>
									{{/if}}
								</div>
								<input class="btn btn-success btn-block" type="submit" value="Register">
							</form>

							<div class="mt-4 text-center">
								Already have an account? <a href="/login">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>