<section id="signupform">
  <h1>Sign Up</h1>
  <div class="signupform-signup">
    <form class="form" method="post" action="/customer/signup">
       <label>
        Given Name
        <input placeholder="Given Name" name="givenName" />
      </label>
      <label>
        Family Name
        <input placeholder="Family Name" name="familyName" />
      </label>
      <label>
        Email
        <input placeholder="email" name="username" value ={{preEmail}}>
        <a style="color:red;"> {{email_valid_fail}} </a>
      </label>
      <label class="mt20">
        Password
        <input placeholder="password" type="password" name="password" />
        {{#if password_valid_fail}}
          <div id = "passord_valid_fail">
            <p>1. At least one alphabet (upper or lower case A-Z)</p>
            <p>2. At least one numerical digit (0-9)</p>
            <p>3. A length of at least 8 characters </p>
          </div>
        {{/if}}
      </label>
      <input type="submit" value="submit">
    </form>
    </div>
  <div class="signup_fail">
    <a style="color:red;"> {{signup_message}} </a>
  </div>

</section>