<section id = "video_page" class = "grid-container_video">
    <div onclick="location.href='/read/read2';" id="video_p" class="side_p" style="cursor: pointer; text-align ">
        <img src="/images/left_arrow2.svg" alt="left_button_2" width="60" height="60" class="button_video_text"></img>
    </div>
    <div id = "text1" class = "vid1 center">
        <h1><strong>Five core competencies</strong></h1>
        <p></p><p></p><p></p>
        <p style="font-size: 20px">There are five (5) core competencies of financial literacy: <strong>Earning</strong>, <strong>Saving and 
            Investing</strong> , <strong>Spending</strong> , <strong>Borrowing</strong> , and <strong>Protecting</strong> . As you make financial decisions each and every day, 
            you should use these five building blocks for managing and growing your money.</p>
        <img src="/images/text2.png"  width="500" height="400"></img>
    </div>
    <div onclick="location.href='/question/1';" id="video_n" class="side_n" style="cursor: pointer;">
    <img src="/images/right_arrow2.svg" alt="left_button_2" width="60" height="60" class="button_video_text"></img>
    </div>
</section>