<section id = "video_page" class = "grid-container_video">
    <div id= "video_p" class = "side_p">Previous</div>
    <div id = "text1" class = "vid1 center">
        <h1><strong>What is Financial Literacy</strong></h1>
        <p>Financial literacy is based upon providing individuals sound financial knowledge and
            skills so that they can make informed financial decisions and take effective actions regarding their personal money management.
             However, the underlying message is aimed to adjust people's core <strong>attitudes and beliefs</strong>, 
             so that a change in financial behavior can help them reach a future of <strong>financial freedom and security</strong>.</p>
    </div>
    <div id= "video_n" class = "side_n">Next</div>
</section>