<section id="vendors" class="colStart">
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <script type="text/javascript">
        function latLongStr(val) {
            return val.toString().split(",");
        }
        vendors = []
        const updateVendors = (data) => {
            let found = false;
            for (let i = 0; i < vendors.length; i++) {
                if (vendors[i].vendorId == data.vendorId) {
                    found = true;
                    vendors[i].distance = data.distance;
                    break;
                }
            }
            if (!found) {
                vendors.push(data)
            }
            setTimeout(() => {
                for (let k = 0; k < vendors.length; k++) {
                    if (vendors[k].vendorId == data.vendorId) {
                        let distanceDisplay = `${data.distance} km`;
                        document.getElementById(data.vendorId + "-distance").innerHTML = distanceDisplay;
                    }
                }
            }, 3000)
        }
    </script>

    <div class="container relative height">
        <h1>Vendors Near You</h1>
        <div id="vendorMap" class="flexMiddle">
            {{#vendorMap vendors}}{{/vendorMap}}
            {{#each vendors }}
            {{#if this.active}}
            {{#with location}}
            {{#with coordinates}}
            <script type="text/javascript">
                vanIcon = L.divIcon({
                        html: `<img style="height: 35px" src="/images/food-truck.ico"/>`,
                    });
                    L.marker(latLongStr('{{this}}'), { icon: vanIcon }).addTo(map)
                        .bindPopup(`<div class="popup">
                    <p class="bold">{{../../this.name}}</p>
                    <p>{{../../this.textlocation}}</p>
                    <button>
                        <a href="vendors/{{../../this._id}}">View</a>
                    </button>
                    </div>`)
                        .openPopup();
                // center the map to the popup
                map.on('popupopen', function (e) {
                    var px = map.project(e.target._popup._latlng); // find the pixel location on the map where the popup anchor is
                    px.y -= e.target._popup._container.clientHeight / 2; // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
                    map.panTo(map.unproject(px), { animate: true }); // pan to new center
                });
            </script>
            {{/with}}
            {{/with}}
            {{/if}}
            {{/each}}
            </div>
            <div id="legend">
                <div class="flex stretch">
                    <button id="collapseMapList" class="flex" onclick="toggleExpandMapList()">
                        <p id="showList">show list</p>
                        <i id="arrow" class="fas fa-chevron-down"></i>
                    </button>
                </div>
                {{#vendorList vendors}}{{/vendorList}}
            </div>
        </div>
    </div>
    <script>
        function toggleExpandMapList() {
            var nav = document.getElementById("vendorList");
            if (nav.style.display == "none") {
                nav.style.display = "flex";
                document.getElementById("showList").style.display = "none";
                document.getElementById("arrow").classList.remove("fa-bars");
                document.getElementById("arrow").classList.add("fa-chevron-down");
                document.getElementById("arrow").style.fontSize = "25px";
                document.getElementById("collapseMapList").style.width = "100px";
            } else {
                nav.style.display = "none";
                document.getElementById("showList").style.display = "flex";
                document.getElementById("arrow").classList.remove("fa-chevron-down");
                document.getElementById("arrow").classList.add("fa-bars");
                document.getElementById("arrow").style.fontSize = "20px";
                document.getElementById("collapseMapList").style.width = "130px";
            }
        }
    </script>
</section>