<section id="video_page" class="grid-container_video">
    <div onclick="location.href='#';" id="video_p" class="side_p" style="cursor: pointer;">
        <div class="button-text">Previous</div>
    </div>
    <div id="vid1" class="vid1 center">
        <iframe width="1000" height="450" src="https://www.youtube.com/embed/e-P8HzVCgbQ" frameborder="0"
            allowfullscreen ng-show="showvideo">
        </iframe>
    </div>
    <div onclick="location.href='#';" id="video_n" class="side_n" style="cursor: pointer;">Next</div>
</section>