<section id = "video_page" class = "grid-container_video">
    <div id= "video_p" class = "side_p">Previous</div>
    <div id = "vid1" class = "vid1 center">
        <iframe width="1000" height="450" src="https://www.youtube.com/embed/e-P8HzVCgbQ" frameborder="0" allowfullscreen ng-show="showvideo">
        </iframe>
    </div>
    <div id= "video_n" class = "side_n">Next</div>
</section>