html,
body {
    height: 100%;
    background-color: rgba(222, 242, 241, 1);
}

body.my-login-page {
    background-color: rgba(249, 251, 255, 1);
    font-size: 14px;
}

.navbar {
    background-color: white
}

#logo {
    position: absolute;
    width: 155px;
    height: 155px;
    left: 35px;
    top: -45px;
}

#name {
    color: black;
    font-weight: bold;
}

.invalid {
    color: red;
}

.my-login-page .brand {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 1;
    background-color: white;
}


.my-login-page .brand img {
    width: 100%;
}

.my-login-page .card-wrapper {
    width: 400px;
}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.my-login-page .card.fat {
    padding: 10px;
}

.vid1 {
    grid-area: videoA;
}
.side_n{
    margin-top: 90%;
    text-align: center;
    vertical-align: middle;
    grid-area: next;
}
.grid-container_video {
    display: grid;
    grid-template-areas: 
    'previous videoA videoA videoA videoA videoA videoA videoA videoA videoA videoA next'
    'previous videoA videoA videoA videoA videoA videoA videoA videoA videoA videoA next'
    'previous videoA videoA videoA videoA videoA videoA videoA videoA videoA videoA next';
}


.side_p{
    margin-top: 90%;
    text-align: center;
    vertical-align:text-bottom;
    grid-area: previous;
}

.center {
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    padding: 10px;
  }

.my-login-page .card .card-title {
    margin-bottom: 30px;
}

.my-login-page .form-control {
    border-width: 2.3px;
}

.my-login-page .form-group label {
    width: 100%;
}

.my-login-page .btn.btn-block {
    padding: 12px 10px;
}

.my-login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .my-login-page .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .my-login-page .card.fat {
        padding: 0;
    }

    .my-login-page .card.fat .card-body {
        padding: 15px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.level-stages {

    padding-top: 180px;
    padding-bottom: 300px;
}

.level-stages img {
    display: block;
    height: 300px;
    width: 876px;
    margin-left: auto;
    margin-right: auto;
}

.energy {
    padding-top: 50px;
    padding-left: 50px;
}

.energy-text {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 15px;
}

.energy-slot {
    background-color: White;
    height: 50px;
    width: 130px;
    border-radius: 15%;
}