html,
body {
    height: 100%;
    background-color: rgba(249, 251, 255, 1);
}

body.my-login-page {
    background-color: rgba(249, 251, 255, 1);
    font-size: 14px;
}

.navbar {
    background-color: white
}

#logo {
    position: absolute;
    width: 155px;
    height: 155px;
    left: 35px;
    top: -55px;
}

#name {
    color: black;
    font-weight: bold;
}

.invalid {
    color: red;
}

.my-login-page .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 1;
}

.my-login-page .brand img {
    width: 100%;
}

.my-login-page .card-wrapper {
    width: 400px;
}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.my-login-page .card.fat {
    padding: 10px;
}

.my-login-page .card .card-title {
    margin-bottom: 30px;
}

.my-login-page .form-control {
    border-width: 2.3px;
}

.my-login-page .form-group label {
    width: 100%;
}

.my-login-page .btn.btn-block {
    padding: 12px 10px;
}

.my-login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .my-login-page .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .my-login-page .card.fat {
        padding: 0;
    }

    .my-login-page .card.fat .card-body {
        padding: 15px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.ftco-navbar-light {
    background: #1c2938 !important;
    z-index: 3;
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    width: inherit;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px;
    }
}

.ftco-navbar-light .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
    color: #fff;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 14px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #e6e6e6;
    position: relative;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fec771;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .9rem;
        padding-bottom: .9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
        color: #fff;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
    width: 100%;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
    background: #fec771;
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .img {
    width: 100%;
    display: block;
    height: 250px;
    margin-bottom: 20px;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .text h3 a {
    color: #000;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .text span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
        background: #202020;
        padding: 0 !important;
    }

    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.1);
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #fec771;
    border-radius: 0px;
}

@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
        color: #fff;
        background: #fec771;
        border-radius: 4px;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fec771;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.active>a {
        color: #fff;
    }
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
}